*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    margin: 15px;
}

section {
    background-color: #176B87;
    padding: 20px;
    margin: 15px 0;
    color: #EEEEEE;
}

header{
    background-color:#053B50;
    padding: 100px;
    color: #64CCC5;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/cover.jpg);
    
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

footer{
    background-color:#053B50;
    color: #EEEEEE;
    padding: 100px; 
    text-align: center;
}

/* Form */
input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  box-sizing: border-box;
}

/*submit button*/
input[type=submit] {
  width: 100%;
  background-color: #64CCC5;
  color: #EEEEEE;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #176B87;
}

/*form container*/
.info {
  border-radius: 5px;
  background-color: #EEEEEE;
  padding: 20px;
  color: black;
}

/*link attributes*/
a {
    color: #64CCC5;
}
a:hover{
    color: #053B50;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    margin: 5px;
    padding: 10px;
    background-color:#EEEEEE;
    color: black;
    height: 200px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }